* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

.share-icon {
  height: 24px;
}

.offcanvas *{
  background-color: #001a2d;
}

.hashtag {
  color: #f8f9fa;
}

.bg-dark {
  --bs-bg-opacity: 0 !important;
}

.nav-link {
  color: #f8f9fa !important;
}

.hero-bg {
  background-image: url('./assets/images/prank-1200x1200-d1-quote.jpeg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
}
