* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(3, 3, 5);
}

a {
  color: #007bff;
}

h1 {
  color: white;
}

body {
  font-family: 'Roboto condensed', sans-serif;
  color: white;
  font-size: 14px;
  background: black;
}

.share-icon {
  height: 24px;
}

.offcanvas *{
  background-color: #001a2d;
}

.hashtag {
  color: #f8f9fa;
}

.bg-dark {
  --bs-bg-opacity: 0 !important;
}

.nav-link {
  color: #f8f9fa !important;
}

.hero-bg {
  background-image: url(./assets/images/bg.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 897px;
  z-index: -1;
}

.title-mobile {
  display: none;
}

.social-icons-container {
  margin: 15px 0 5px 0;
}

.social-icons-container a {
  display: inline-block;
}