* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

.share-icon {
  height: 24px;
}

.offcanvas *{
  background-color: #001a2d;
}

.hashtag {
  color: #f8f9fa;
}

.nav-link {
  color: #f8f9fa !important;
}
